# Исключаем виртуальное окружение
venv/
*.pyc
__pycache__/

# Исключаем базу данных
*.db

# Исключаем статические и временные файлы
static/uploads/
static/tmp/

# Логи
*.log

# Файлы настроек IDE
*.vscode/
*.idea/

# Другие временные файлы
*.bak
*.swp
