<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Chronology</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form method="POST">
            <textarea name="content" placeholder="Введите текст..." required></textarea>
            <button type="submit">Отправить</button>
        </form>
    </div>
</body>
</html>
